.Contents
  .Contents__items
    %h1.Catch さぁ、本を探そう
    %h2.English Find Your Books
    %p.Signup
      =link_to new_user_registration_path, class: "Signup__btn" do
        新規登録
    %p.Signup
      =link_to new_user_session_path, class: "Signup__btn" do
        ログイン