/ drawer.begin
#drawer_wrapper
  / ハンバーガーメニュー
  #hamburger_icon
    %span.yum
    %span.yum
    %span.yum
    / 飛び出すメニュー(以下を書き換え)
    %nav.menuitems
      %ul
        %li
          %a{ href: bookshelf_path}
            Top
        %li
          %a{ href: books_path}
            BookShelf

          %li
            %a{ href: new_user_session_path}
              Login
          %li
            %a{ href: new_user_registration_path}
              Signup
      -if user_signed_in? && current_user.id == @book.user_id
        %ul
          %li
            %a{ href: new_book_path}
              New Post
          %li
            %a{ href: edit_book_path}
              Edit
          %li
            =link_to 'Destroy', book_path, method: :delete
  / 透明な背景ウィンドウ(閉じる専用)
  #drawer_background
/ drawer.end

.View
  .View__picture
    .View__picture__covers
      =link_to image_tag( "#{@book.image}", alt:"", class: "Single-images")
    .View__picture__under
      .View__picture__under__icon
        .Heart
          -if current_user.present?
            -if current_user.already_liked?(@book)
              =link_to book_like_path(@book), method: :delete, class: "Toggle" do
                .Heart
                  %i.heart
            -else
              =link_to book_likes_path(@book), method: :post, class: "Toggle" do
                .Heart
                  %i.heart
      .View__picture__under__numbers
        =@book.likes.count

  .View__descriptions
    .View__descriptions__titles
      %span.title Title
      =@book.name
    .View__descriptions__authors  
      %span.title Author
      =@book.author
    .View__descriptions__details
      %span.title Details
      =@book.text
    .View__descriptions__links
      %p Amazonlinks

  .View__Comment
    
